#image {
    flex-shrink: 0;
}
#saying {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    opacity: .7;
    margin-bottom: -13px;
}
#author{
    text-align: right;
    font-size: 30px;
    padding-right: 30px;
    opacity: .7;
    font-family: 'Roboto', arial;
}

ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

a{
    font-size: 17px;
    color:#E5E7EB;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 20px;
    font-family: 'Roboto', arial;
}
.container {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 0 150px;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding-bottom: 100px;
    
}

.header-info button{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border: none;
    height: 40px;
    width: 150px;
    font-weight: bold;
    
}

button:hover{
    cursor: pointer;
}

.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.bottom-header{
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.top-header h1{
    font-size: 24px;
    color: #F9FAF8;
}
.bottom-header h1{
    font-size: 48px;
    color: #F9FAF8;
    font-family: 'Roboto', arial;
    text-align: left;
    margin-bottom: -5px;
}

.bottom-header p {
    font-size: 18px;
    color: #F9FAF8;
    font-family: 'Roboto', arial;
    text-align: left;
    opacity: 0.7;
}
.bottom-header img {
    height: 260px;
    width: 500px;
    margin-top: 20px;
    border: medium dashed green;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blanchedalmond;
    
}
.header-info{
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
}

.body {
    padding-top: 40px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.body h1 {
    padding-bottom: 20px;
    font-family: 'Roboto', arial;
    font-weight: 1000;
}

.image {
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    font-family: 'Roboto', arial;
}

.image img {
    height: 200px;
    width: 200px;
    border: 4px solid #3882F6;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    font-family: 'Roboto', arial;
}

.image p {
    text-align: center;
    opacity: .7;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 100px 300px;
}

.signup-section {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
}

.text {
    color: white;
    font-family: 'Roboto', arial;
}

.text h1 {
    font-size: 25px;
    margin-bottom: -14px;
}

.text p {
    opacity: .8;
}

.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 200px;
    background-color: #3882F6;
    border-radius: 6px;
    padding: 20px 150px;
    color: white;
    
}

.box button{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border: 2px solid white;
    height: 40px;
    width: 150px;
    font-weight: bold;
    flex-shrink: 0;
}
